@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');
$bodyFont: 'Poppins' ,sans-serif;

$fc-dark:rgb(52, 53, 65);
$fc-middle:rgb(64,65,79);
$fc-light:rgb(68,70,84);
  