@import '_variables.scss';

.bbox-container { 
    position: relative;
    height: 6vh;
    width: 80vw;
    display: flex;
    align-items: center; 
    margin-top: 3vh;
    margin-left: 14vw;         ////////////////////////////////////////
}

.bbox-input { 
    height: 100%;
    width: 100%;
}

.b-button { 
    width: 3.5vh;
    height: 3.5vh; 
    background-image: url("../assets/send.png");
}

@media (min-width: 700px ) {

    .bbox-container{
        margin-left: 10.7vw;       //////////////////////////////
    }
    
}