@import '_variables.scss';

.bbox-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 6vh;
    width: 100vw;
    margin-top: 3vh; 
}

.bbox-input {
    height: 100%;
    width: 80%;
}

.b-button {
    width: 3.5vh;
    height: 3.5vh; 
    background-image: url("../assets/send.png");
}